/*
  Open Sans
  <weight>: Use a value from 300 to 800
  */

* {
  box-sizing: border-box;
}

.app-container {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #b1b0b0;
  display: grid;
  grid-template-rows: 80px 1fr 60px;
  row-gap: 8px;
}

.header-container {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-logo {
  height: 80px;
  width: 80px;
}

.nav-items {
  display: flex;
  column-gap: 32px;
}

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 12px;
}

.content-container > .rest-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
}

.rest-card {
  background-color: #fff;
  border-radius: 4px;
  min-width: 200px;
  min-height: 200px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
}

.rest-card:hover {
  border: 1px solid #000;
}

.rest-card > .rest-info {
  font-size: 12px;
  font-weight: 500;
}

.rest-card > .rest-name {
  font-size: 16px;
  font-weight: 600;
}

.rest-card > .rest-img {
  border-radius: 4px;
  width: 100%;
  height: 60%;
}